body {
    background-color: white;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h2, p {
    font-family: 'Libre Franklin', sans-serif;
}

a h1:hover {
    color:rgb(105, 105, 105);
    transition: 0.2s;
}